[Unit]
Wants=network-online.target
After=network.target network-online.target

[Service]
User=qrystal-cs
Type=notify
ExecStart=qrystal-cs -config /etc/qrystal/cs-config.yml
Environment=QRYSTAL_PROFILE_PATH=/tmp/qrystal-profile.pprof
RuntimeDirectory=qrystal-cs
RuntimeDirectoryMode=0700
StateDirectory=qrystal-cs
StateDirectoryMode=0700
LogsDirectory=qrystal-cs
LogsDirectoryMode=0700

[Install]
WantedBy=multi-user.target
