[Unit]
Description=Run Qrystal CS.
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=qrystal-cs -config /etc/qrystal/cs-config.yml
User=qrystal-cs
Environment=QRYSTAL_PROFILE_PATH=/tmp/qrystal-profile.pprof

[Install]
WantedBy=multi-user.target
