[Unit]

[Service]
Environment="QRYSTAL_LOGGING_CONFIG=development"
Environment="RUNNER_HOKUTO_PATH=/opt/qrystal-node/runner-hokuto"
Environment="RUNNER_MIO_PATH=/opt/qrystal-node/runner-mio"
Environment="RUNNER_NODE_CONFIG_PATH=/etc/qrystal-node/node-config.yml"
Environment="RUNNER_NODE_PATH=/opt/qrystal-node/runner-node"

ExecStart=/opt/qrystal-node/runner
NoNewPrivileges=yes
NotifyAccess=all
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectHome=yes
Restart=on-failure
StateDirectory=qrystal-node
StateDirectoryMode=0700
Type=notify
